@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin bg($url, $size: 100% 100%, $pos: center, $repeat: no-repeat) {
  background-position: $pos;
  background-repeat: $repeat;
  background-size: $size;
  background-image: url($url);
}
