@import '@/styles/variables.scss';
.app-wrapper {
  .sidebar-wrapper {
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    z-index: 1002;
    border-right: solid 1px #e6e6e6;
    width: 200px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    user-select: none;
    .el-scrollbar__wrap {
      overflow-x: hidden;
      background: #fff;
    }
    .el-menu {
      border-right: 0;
      width: 100%;
    }
    .el-submenu.is-active {
      .i__icon__wrapper,
      .title {
        color: $--color-primary;
      }
    }
    .i__icon__wrapper {
      margin-right: 5px;
    }
    .title {
      transition: opacity 0s;
      transition-delay: 0.3s;
    }
    .el-menu--collapse {
      .i__icon__wrapper {
        margin-left: 5px;
      }
      .el-submenu__icon-arrow {
        opacity: 0;
      }
    }
    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }
    .el-scrollbar__bar.is-horizontal {
      display: none;
    }
  }
  .drawer-bg {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  // 主体区域
  .main-container {
    transition: margin-left 0.3s ease-in-out;
  }
  &.hide-sidebar:not(.mobile) {
    .sidebar-wrapper {
      width: 64px;
    }
    .el-submenu__title .el-submenu__icon-arrow {
      display: none;
    }
    .main-container {
      margin-left: 64px;
    }
    .title {
      opacity: 0;
    }
  }
  &.mobile.hide-sidebar {
    .sidebar-wrapper {
      transform: translateX(-100%);
    }
    .main-container {
      margin-left: 0;
    }
  }
  &.mobile:not(.hide-sidebar) .drawer-bg {
    display: block;
  }
}
